@charset "utf-8";

@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*****************************************************************/
/* 공통 */
/*****************************************************************/
html, body { height:100%; border:0 none; font-family: "Nanum Gothic", sans-serif !important; letter-spacing:-1px;}
table { text-align: left; border:0 none; }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,button { font-size:15px; font-family: "Nanum Gothic", sans-serif; letter-spacing:-1px; color:#454545; }
body,div,form,fieldset,button { margin:0;padding:0; }
img,fieldset{ border:0 none; }

input, select, textarea {
    scrollbar-face-color:#616769;
    scrollbar-highlisht-color:#ffffff;
    scrollbar-face-color: #FFFFFf;
    scrollbar-shadow-color: #cccccc;
    scrollbar-highlight-color: #cccccc;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #F6F6F6;
    scrollbar-arrow-color: #cccccc;
}
/*****************************************************************/
/* 롤오버 */
/*****************************************************************/
a.rollover img { border-width:0px; display:inline; }
a.rollover img.over { display:none; }
a.rollover:hover { border:0px }
a.rollover:hover img { display:none; }
a.rollover:hover img.over { display:inline; }

/*****************************************************************/
/* link blur */
/*****************************************************************/
a, area, { behavior:expression(this.hideFocus=true); }
a:active, a:focus, area:active, area:focus { outline:none; }

/*****************************************************************/
/* 링크 */
/*****************************************************************/
a:link {font-size:16px; color:#333333; font-Family:"Nanum Gothic","sans-serif","AppleGothic","Albatross","arial","helvetica","sans-serif"; text-decoration:none;}
a:visited {font-size:16px; color:#333333; font-Family:"Nanum Gothic","sans-serif","AppleGothic","Albatross","arial","helvetica","sans-serif"; text-decoration:none;}
a:active {font-size:16px; color:#333333; font-Family:"Nanum Gothic","sans-serif","AppleGothic","Albatross","arial","helvetica","sans-serif"; text-decoration:none;}
a:hover {font-size:16px; color:#333333; font-Family:"Nanum Gothic","sans-serif","AppleGothic","Albatross","arial","helvetica","sans-serif"; text-decoration:underline;}

/*****************************************************************/
/* 업로드 파일 리스트 */
/*****************************************************************/
#file_btn { height:25px; }
#file_list { margin:0 0 0 0; }

#file_list ul {list-style:none; padding:0; margin:0;}
#file_list ul li {list-style:none;}

#file_list li { margin:5px 0 5px 0;position: relative; }
#file_list li .file_txt { position: relative;width:300px;height:22px;border:1px solid #CCCCCC; }
#file_list li .file_txt .file_name { position: absolute;top:4px;left:4px; }
#file_list li .file_txt .file_size { top:4px;right:20px;position: absolute; }
#file_list li .file_btn { top:0;left:305px;position: absolute; }
#file_list li .file_msg { width:100%;}

/* swfuplod */
.swfupload {vertical-align: middle;}
.login_form01 .input{width:170px; height:22px; }
/*hover*/
.soft_hover a:hover{color:#19c1e5 !important;}

/*로그인*/
.admin_all{width:490px; margin:0 auto; padding:60px;}
.admin_all form{border:1px solid #dcdcdc; padding:30px 20px; border-radius:6px; width:391px; margin-top:20px; background:#f7f5f5;}
.login_2 input{vertical-align: middle; color:#fff; height: 61px; margin-top: -33px; width: 88px; margin-left: 5px; background:#b60912; border:1px solid #900a11; border-radius:2px;}

/*비밀번호입력*/
#inputPass{border:1px solid #dcdcdc; background:#f4f7f9; border-collapse:collapse; width:400px; margin:0 auto; margin-top:80px;}
#inputPass thead tr th{text-align:center; padding:20px 20px;}
#inputPass tbody tr td{text-align:center; padding:10px 0 40px 0;}