@CHARSET "utf-8";
html, header, ol, li, ul, li, img, p, a, div, img, nav, ul, li, span, article, section{margin:0; padding:0;} /* 초기화 */

header {
    background-color:#cccccc;
    color:white;
    width: 100%;
    height: 224px; 
	background:url(../images/image.jpg) top center no-repeat;
}

.item img{
	margin:0 auto; /* 가운데 정렬? */
}


footer {
	background:url(../images/cback.png) repeat-x;
    color:white;
    clear:both;
    text-align:center;
    width : 100%;
    position : fixed;
	bottom:0;
}

.container-fluid{
	background:url(../images/sub_header_bg.gif) repeat-x;
	height:64px;
}
.navbar-header{
	padding:0 25px 0 15px;
}
.navbar{ /* header, nav 경계선 제거 */
	border:none;
}
/* 글자색 바꾸기 */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color:#000000;}

/*********************로그인 폼 관련***********************/
.login_form01 {
    position: relative;
    margin: 0 auto;
    width: 721px;
    height: 336px;
    background: url(../images/login.jpg) no-repeat;
} 
.login_form01 .input_id {
    position: absolute;
    top: 180px;
    left: 130px;
}
.login_form01 .input_password {
    position: absolute;
    top: 206px;
    left: 130px;
}
.login_form01 .id_save_area {
    position: absolute;
    top: 230px;
    left: 130px;
}
.login_form01 .btn {
    position: absolute;
    top: 173px;
    left: 292px;
}
.login_form01 .btn2 {
    position: absolute;
    top: 180px;
    left: 360px;
}
/******************************************************/